<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="jumbotron col-8">
      <form #imageForm="ngForm" (ngSubmit)="imageForm.form.valid && onSubmit(imageForm)">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="title" class="form-control" [(ngModel)]="model.title" #title="ngModel"
                 [ngClass]="{ 'is-invalid': imageForm.submitted && title.invalid }" required>
          <div class="invalid-feedback" *ngIf="imageForm.submitted && title.invalid">
            <p *ngIf="title.errors?.required">Title is required</p>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control" rows="3" #description="ngModel"
                    [(ngModel)]="model.description">{{model.description}}</textarea>
        </div>

        <div class="form-group">
          <label>Category</label>
          <input type="text" name="category" class="form-control" [(ngModel)]="model.category" #category="ngModel"
                 [ngClass]="{ 'is-invalid': imageForm.submitted && category.invalid }" required>
          <div class="invalid-feedback" *ngIf="imageForm.submitted && category.invalid">
            <p *ngIf="category.errors?.required">Category is required</p>
          </div>
        </div>

        <div class="form-group">
          <label>Url</label>
          <input type="text" name="url" class="form-control" [(ngModel)]="model.url" #url="ngModel"
                 [ngClass]="{ 'is-invalid': imageForm.submitted && url.invalid }" required>
          <div class="invalid-feedback" *ngIf="imageForm.submitted && url.invalid">
            <p *ngIf="category.errors?.required">URL is required</p>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-danger btn-block">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
