<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-end mb-5">
    <div class="col-sm-12 col-md-6 p-2">
      <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="getImageFromOssianDatabase()">Get from
        Ossian Database
      </button>
    </div>
    <div class="col-sm-12 col-md-6 p-2">
      <button type="button" class="btn btn-secondary btn-lg btn-block" [routerLink]="['/image/add-update']">Add image
      </button>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-4 col-lg-4 mt-3" *ngFor="let image of images">
      <div class="card" style="width: 100%">
        <img class="card-img-top img-card" src="{{image.url}}" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title card-text-max-line">{{image.title}}</h1>
          <h5 class="card-subtitle card-text-max-line">{{image.category}}</h5>
          <p class="card-text card-text-max-line">{{image.description}}</p>
          <hr/>
          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <button class="btn btn-dark button-cards" (click)="updateImage(image)">Update</button>
            </div>
            <div class="col-6">
              <button class="btn btn-danger button-cards" (click)="deleteImage(image.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
