.container{
  margin-top: 10%;
  margin-bottom: 10%;
}

.button-cards{
  width: 100%;
  font-size: 13px;
}

.card-text-max-line{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card:hover .card-text-max-line{
  text-overflow: unset;
  -webkit-line-clamp: unset;
}

.img-card{
  height: 300px;
}
