<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h1 class="text-center"><b>Login</b></h1>
      <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)" style="width: 100%">
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                 [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" required>
          <div class="invalid-feedback" *ngIf="userForm.submitted && email.invalid">
            <p *ngIf="email.errors?.required">Email is required</p>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                 [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }" minlength="6" required>
          <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password should be at least 6 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-danger btn-block">Sign in</button>
        </div>
      </form>
      <h2 class="text-primary"><b [routerLink]="['']">Register</b></h2>
    </div>
  </div>
</div>
