<nav class="navbar navbar-dark bg-primary">
  <a [routerLink]="['/']" class="navbar-brand" href="#">Ossian Technology</a>
  <a type="button" style="color: white" (click)="logout()">Logout</a>
</nav>

<router-outlet></router-outlet>
